| <%= link_to 'Question test', test_path(@test) %>

<h2><%= render 'layouts/action_header' %> question <%= @question.test.title if action_name == "edit" %></h2>
<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <br>
  <%= form.label :body %>
  <%= form.text_field :body %>

  <%= form.submit %>
<% end %>
