<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('devise.header.admin') %></span>

  <div class="nav-admin user">
    <%= render 'layouts/navigate' %>
    <b class="nav-admin user-email">
      <%= current_user.first_name %>
      <%= current_user.last_name %>
    </b> |
    <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
