<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= link_to t('tests.tests_link'), tests_path %> |
      <%= link_to t('tests.admin_tests_link'), admin_tests_path if current_user.admin? %> |
      <%= current_user.first_name %>
      <%= current_user.last_name %> |
      <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %>
    <% end %>
  </span>
</nav>


