<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="my-0 mr-md-auto font-weight-normal">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
    <a class="text-white">
      <%= t('devise.header.admin') if user_signed_in? && current_user.admin? %>
    </a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <!-- Управление тестами "Панель управления администратора" -->
      <a class="p-2 text-dark"><%= link_to t('tests.admin_tests_link'), admin_tests_path if current_user.admin? %></a>
      <a class="p-2 text-white">
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      </a>
      <div class="btn btn-outline-primary text-white">
        <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="btn btn-outline-primary text-white">
        <%= link_to 'Sign in', new_session_path(resource_name) %>
      </div>
      <div class="btn btn-outline-primary text-white">
        <%= link_to 'Sign up', new_registration_path(resource_name) %>
      </div>
    <% end %>
  </nav>
</nav>


