<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="my-0 mr-md-auto font-weight-normal">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
    <a class="text-white">
      <%= t('devise.header.admin') if user_signed_in? && current_user.admin? %>
    </a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to 'All Badges', badges_path, class: 'btn btn-warning' %>
      <!-- Управление тестами "Панель управления администратора" -->
      <a class="p-2 text-dark">
        <% if current_user.admin? %>

          <%= link_to 'Create Badge', new_admin_badge_path, class: 'btn btn-success' %>
          <%= link_to t('tests.admin_tests_link'), admin_tests_path, class: 'btn btn-info' %>
          <%= link_to 'Gists', admin_gists_path, class: 'btn btn-info' %>
        <% end %>
      </a>
      <a class="p-2 text-white">
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      </a>
      <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to t('devise.login'), new_user_session_path, class: 'btn btn-warning' %>
      <%= link_to t('devise.sign_up'), new_user_registration_path, class: 'btn btn-warning' %>
    <% end %>
  </nav>
</nav>


