<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <h3>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </h3>
  <%= form.submit %>
<% end %>

<h3><%= link_to t('admin.questions.show.back_to_test'), admin_test_path(@question.test) %></h3>
