<h1>
  <%= t('.header', title: @question.test.title) %>
<!--  Question of <%#= @question.test.title %> test-->
</h1>
<!--<h3>Question id: <%#= @question.id %></h3>-->
<h3>
  <%= t('.question_body', body: @question.body) %>
<!--  Question body: <%#= @question.body %>-->
</h3>

<p>
  <%= link_to t('.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-primary' %>
</p>

<b>
  <p><%= t('.answers') %></p>
  <%= render @question.answers %>
</b>

<h4><%= link_to t('.back_to_test'), admin_test_path(@question.test), class: 'btn btn-primary' %></h4>
