<tr>
  <p>
    <th><%= test.id %></th>
    <th><%= test.title %></th>
    <th><%= test.questions.count %></th>
    <th>
      <%= link_to t('global_words.show_resource'), admin_test_path(test), class: 'btn btn-primary' %>
      <%= link_to t('global_words.edit_resource'), edit_admin_test_path(test), class: 'btn btn-primary' %>
      <%= link_to t('global_words.delete_resource'),
                admin_test_path(test),
                method: :delete,
                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
    </th>
  </p>
</tr>
