<h1><%= t('tests.index.header') %></h1>
<div>
  <table border="1" cellpadding="5">
    <tr>
      <h4>
        <th><%= t('global_words.id_resource') %></th>
        <th><%= t('tests.index.title') %></th>
        <th><%= t('tests.index.questions') %></th>
        <th><%= t('global_words.actions') %></th>
      </h4>
    </tr>
    <%= render @tests %>
  </table>
  <h4>
    <%= link_to t('.new_test'), new_admin_test_path %>
  </h4>
</div>

