<h1><%= t('tests.index.header') %></h1>
<div>
  <table border="1" cellpadding="5" class="table">
    <thead>
      <tr>
        <h4>
          <th scope="col" class="sort-by-title pointer">
            <%= t('tests.index.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col" >
            <%= t('global_words.id_resource') %>
          </th>
          <th scope="col"><%= t('tests.index.questions') %></th>
          <th scope="col"><%= t('global_words.actions') %></th>
        </h4>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
  <h4>
    <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-success' %>
  </h4>
</div>

