<h3>
  Test <%= @test.title %>
  <br>Created by: <%= @test.creator.email %>
  <br>
</h3>

<table border="1" cellpadding="5">
  <tr>
    <th><h4>Id</h4></th>
    <th><h4>Question</h4></th>
    <th><h4>Action</h4></th>
  </tr>
  <%= render @questions %>
  <%#= render partial: 'questions/question', collection: @test.questions %>
</table>

<h4><%= link_to 'New Question', new_admin_test_question_path(@test) %></h4>
<br>
<h3><%= link_to 'Back', admin_tests_path %></h3>
