<h3>
  <%= t('.header', title: @test.title) %>
<!--  Test <%#= @test.title %>-->
  <br><%= t('.creator', email: @test.creator.email) %>
<!--  Created by: <%#= @test.creator.email %>-->
  <br>
</h3>

<table border="1" cellpadding="5">
  <tr>
    <th><h4><%= t('global_words.id_resource') %></h4></th>
    <th><h4><%= t('.question') %></h4></th>
    <th><h4><%= t('global_words.actions') %></h4></th>
  </tr>
  <%= render @questions %>
  <%#= render partial: 'questions/question', collection: @test.questions %>
</table>

<h4><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></h4>
<br>
<h3><%= link_to t('.back_to_tests'), admin_tests_path %></h3>
