<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="container">

      <div id="clock_display">

      </div>

      <% if user_signed_in? %>
        <a class="p-2 text-dark">
          <%= current_user.badges.where(control: 2).count %>
          <%= image_tag(Badge.find_by(control: 2).picture, size: '20x20') if Badge.find_by(control: 2).present? %>
          <%= current_user.badges.where(control: 3).count %>
          <%= image_tag(Badge.find_by(control: 3).picture, size: '20x20') if Badge.find_by(control: 3).present? %>
          <%= current_user.badges.where(control: 1).count %>
          <%= image_tag(Badge.find_by(control: 1).picture, size: '20x20') if Badge.find_by(control: 1).present? %>
        </a>
      <% end %>
    </div>



    <div class="body-height">
      <div class="container">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </div>

    <br>
    <%= render 'layouts/footer' %>

  </body>
</html>
