<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigate' %>

    <% if logged_in? %>
      <p class="nav_user">
        Welcome <b><%= current_user.email %></b>
        <%= link_to 'Guru', root_path %>
      </p>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
