<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="nav nav-user">
        <span class="nav-admin title"><%= t('devise.header.user') %></span>

        <div class="nav-admin user">
          <%= render 'layouts/navigate' %>
          <b class="nav-admin user-email">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </b> |
          <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %>
          <br><br>
        </div>
      </div>
    <% end %>

    <%= render 'shared/flash' %>

    <div class="content">
      <%= yield %>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
